<div style="padding: 15px 35px; background: #fff; border-radius: 10px; margin-bottom: 10px; margin-top: 15px;">
	<div class="row">
		<div class="col-md-12">
			<h2>Vous pouvez aussi nous contacter via</h2>
		</div>
		<div class="col-md-4">
			<div style="height: 220px; border: 1px solid #ddd; border-radius: 5px; padding: 7px;">
				<h6>Localisation</h6>
				<div>
					Notre siège social est situé à Yaoundé Biyem-Assi, Carrefour Kameni (Immeuble Mater). 
				</div>
				<h6>Téléphones</h6>
				<ul>
					<li><a href="https://wa.me/237697279770" target="_blank">Whatsapp: +237 697 27 97 70</a></li>
					<li><a href="tel:(237) 222 31 46 62">Ligne 1: (237) 222 31 46 62</a></li>
					<li><a href="tel:(237) 697 27 97 70">Ligne 2: (237) 697 27 97 70</a></li>
					<li><a href="tel:(237) 676 26 40 27">Ligne 3: (237) 676 26 40 27</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4"> 
			<div style="height: 220px; border: 1px solid #ddd; border-radius: 5px; padding: 7px;">
				<h6>Mode de paiement </h6>
				<div>Vous pouvez faire votre paiement par virement bancaire ou via un mode de paiement mobile</div>
				<ul>
					<li><a href="#!">Afriland FirstBank</a></li>
					<li><a href="#!">Orange Money</a></li>
					<li><a href="#!">MTN Mobile Money</a></li>
					<li><a href="#!">Moneygram</a></li>
					<li><a href="#!">Paiements directs dans nos bureaux</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div style="height: 220px; border: 1px solid #ddd; border-radius: 5px; padding: 7px;">
				<h6>Médias sociaux</h6>
				<div>Suivez nous sur les réseaux sociaux</div>
				<ul>
					<li><a href="https://www.google.com/maps/dir//INSTITUT+AZ+CORPORATION,+30+020,+Biyem-Assi+Kameni,+Yaound%C3%A9/@3.8482134,11.4909128,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x108bcfdbfb5da54b:0xe9ed2f8954b445f6!2m2!1d11.4909128!2d3.8482134 " target="_blank">Itinéraire GPS</a></li>
					<li><a href="https://www.facebook.com/AZcorpAfrica/" target="_blank">Suivez nous sur facebook.</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>