<div class="modal-header color-bottom text-left" style="display: block; width: 100%; position: relative!important; margin: 0px 0px 15px 0px; right: 0px!important; padding-left: 15px;">
	<button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
	<h3 class="modal-title">
			<img src="{{ asset('template/images/logo.png') }}" alt=""  style="width: 40px; height: 40px; float: left; margin-right: 7px;"/>
			<div class="text-left" style="font-size: 25px; margin-top: 3px;"><strong> <span style="color:#3565ae;"> Market</span></strong> {% if title != '' %}- {{ title }}{% endif %}</div> 
	</h3>
</div>