<a href="{{ twitter }}" title="visiter notre page twitter" target="_blank"><span class="fa fa-twitter"></span></a> .
<a href="{{ facebook }}"  title="visiter notre page facebook" target="_blank"><span class="fa fa-facebook"></span></a>.
<a href="{{ google }}" title="visiter notre page google+" target="_blank"><span class="fa fa-youtube"></span></a>.
<a href="{{ linkedin }}" title="visiter notre page google+" target="_blank"><span class="fa fa-linkedin"></span></a>.