<span style="float: right; margin-top: 0px; display: inline-block; background: #fff; padding: 15px 20px;">
	<a href="" data-placement="bottom"  title="Echangeons par téléphone" style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;"><span class="fa fa-phone-square"></span></a> 
	<a href="" title="Echangeons par live tchat" data-placement="bottom"  style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;"><span class="fa fa-comments"></span></a> 
	
	<span class="dropdown">
		<a style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;" class="dropdown-toggle" href="https://themes.3rdwavemedia.com/coderpro/bs4/#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <span class="fa fa-ellipsis-h"></span>
		</a>
		<div class="dropdown-menu dropdown-menu-left rounded shadow menu-animate slideIn" aria-labelledby="navbarDropdown" style="margin-left: -200px; margin-top: 0px; width: 250px;">
			<a class="dropdown-item has-icon"href="#!"><span class="theme-icon-holder mr-2"><i class="fa fa-map-signs fa-fw"></i></span> Vide</a>
		</div>
	</span>
</span>