<div class="copyright login-copyright " style="border-top: 1px solid #ddd; width: 100%; left: 0px; bottom: 0px; position: fixed; z-index: 500;background: #fff; box-shadow: 0 3px 20px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1); padding: 4px 15px;">
	<p style="display: block; text-align: center !important; margin: 0px; padding: 0px;"><span style="text-shadow: 1px 1px #ddd; float: left;"> © 2014 - {{ "now"|date('Y') }} {{ site }}, All Rights Reserved .</span> <span style="float: right;"><a href="{{ path('users_user_acces_plateforme') }}" style="color: #333;">Accueil</a> | <a href="#" style="color: #333;">Support</a> | <a href="#" style="color: #333;">CGU</a> | <a href="#" style="color: #333;">Confidentialité</a> </span></p>    
</div>