{% if position == "admin" %}
	<hr style="margin-top: 45px; margin-bottom: 0px;"/>
	<div  style="background: rgba(83, 101, 240, 1); height: 10px;">
	</div>
	<div style="background: #BDC3C7;">
		<div class="container" style="color: #fff;">
		Accueil <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> Recherche <span class="mdi-av-play-arrow" style="font-size: 10px;"></span> Cours
		</div>	
	</div>	
	<hr style="margin-bottom: 0px;"/>
{% else %}
	<div class="container">
		<div class="row mt centered">	
			<div class="col-md-12 text-left">
				<div aria-label="breadcrumb">
					<button type="button" class="btn btn-outline-secondary breadcrumb-toggle" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-controls="nav">
						Allez à
						<i class="fa fa-caret-down"></i>
					</button>
					
					<span style="float: right; margin-top: 0px; display: inline-block; background: #fff; padding: 15px 20px;">
						<a href="" data-placement="bottom" title="" style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;" data-original-title="Echangeons par téléphone"><span class="fa fa-phone-square"></span></a> 
						<a href="" title="" data-placement="bottom" style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;" data-original-title="Echangeons par live tchat"><span class="fa fa-comments"></span></a> 
						
						<span class="dropdown">
							<a style="padding: 3px 7px; border: 1px solid #f8f8f8; border-radius: 5px;" class="dropdown-toggle" href="https://themes.3rdwavemedia.com/coderpro/bs4/#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
							<span class="fa fa-ellipsis-h"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-left rounded shadow menu-animate slideIn" aria-labelledby="navbarDropdown" style="margin-left: -200px; margin-top: 0px; width: 250px; position: absolute; transform: translate3d(28px, 23px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
								<a class="dropdown-item has-icon" href="#!" data-original-title="" title=""><span class="theme-icon-holder mr-2"><i class="fa fa-map-signs fa-fw"></i></span> Vide</a>
							</div>
						</span>
					</span>			
					<ol id="nav" class="breadcrumb collapse" style="background: #fff;">
						<li class="breadcrumb-item"><a href="" data-original-title="" title=""><span class="fa fa-home"></span> Accueil </a></li>
						<li class="breadcrumb-item" data-toggle="tooltip" data-trigger="manual"><a href="#!" data-original-title="" title="">Recherche des cours</a></li>
					</ol>
				</div>
			</div>
			</div>
	</div>
{% endif %}

<div class="container">
	<div class="row mt centered">
		<div class="col-lg-12" >

			<div class="section-title" style="margin-bottom: 10px;margin-top: 20px;">
				<a href="#!" class="btn btn-danger float-right pull-right delete-courant-result" style="font-size: 13px;"><span class="fa fa-times"></span> Fermer</a>
				<a href="#!" class="float-left btn btn-primary delete-courant-result" style="margin-top: -10px;">
					<span class="fa fa-arrow-left"></span>
					Précédent
				</a>
				<h2>
					
					Resultat de la recherche <strong style="text-decoration: underline;">{{ donnee }}</strong> 
				</h2>
			</div>
		</div>
		<div class="col-lg-12">
		<div class="divider"></div>
		</div>
	</div><!-- /row -->
	
	<div class="row mt centered">
		{% for produit in liste_produit %}
			<div class="col-md-3 photoday-grid">
			{% include 'Theme/Produit/Produit/Produit/produitdescript.html.twig' %}
			</div>
		{% else %}
		<div class="alert-warning text-left" style="padding: 15px;  margin-bottom: 20px; border: 1px solid transparent; border-radius: 0px; margin-bottom: 100px;"><span class="fa fa-warning"></span> Aucun cours valide pour la recherche de mot clé <strong>{{ donnee }}</strong></div>
		{% endfor %}
	</div><!-- /row -->
	
	<div class="row mt centered" style="margin-bottom: 10px; margin-top: 0px;">
	  <div class="col-lg-12" >
	  <div style="border-top: 1px dashed #999; text-align: left;"><a href="{{ path('produit_produit_module_deformation') }}" style="padding: 0px; margin: 0px;"><span class="fa fa-list"></span> Catalogue cours <span class="fa fa-arrow-circle-right"></span></a> <a href="{{ path('produit_service_visiter_notre_blog') }}" class="pull-right"><span class="fa fa-arrow-circle-left"></span> Formations <span class=" fa fa-bookmark-o"></span></a> </div>
	  </div>
	</div>
</div><!-- /container -->

<hr>

<script type="text/javascript">
$('.delete-courant-result').click(function(){
	$('.content-recherche-products-market').hide('slow');
	$('.content-manage-market').show();
});
</script>